.keys:not(:last-of-type) {
    margin-bottom: 4px;
}
.calculator button {
    width: 25px;
}
.calculator {
    border: 1px solid #D6D6D6;
    padding: 10px;
    width: 134px;
    display: inline-block;
    background-color: #F5F5F5;
    margin-top: 40px;
}
.screen input {
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    color: #333;
    padding: 5px;
    margin-bottom: 5px;
    outline: none;
    width: 100%;
}

/* Dont add the CSS below */
.demo {
    text-align: center;
    margin-top: 50px;
}
